<app-nav-bar></app-nav-bar>
<h2>
    Haushaltsübersicht :
</h2>
<h4>
    Liste aktiver Einkäufe :
</h4>
<table align="center">
    <tr>
        <th>Erstellungsdatum</th>
        <th>name</th>
        <th>store</th>
        <th>gekaufte Anzahl</th>
    </tr>
    <tr *ngFor="let purchase of purchases; let i=index">
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.store }}</td>
        <td>{{ purchase.name }}></td>
        <td>{{ purchase.ammount}}</td>
    </tr>

</table>
<h4>
    Produkte die gebraucht werden :
</h4>
<tr>
    <th>Produktname</th>
    <th>Anzahl</th>
</tr>
<tr *ngFor="let neededItem of needed; let i=index">
    <td>{{ needed.name }}</td>
    <td>{{ needed.neededAmount }}</td>
</tr>
<form>
  <label>Laden : <!--Diese muss man au der Datenbank holen-->
    <select name="Läden">
      <option>Lidl</option>
      <option>Aldi</option>
      <option selected>Rewe</option>
      <option>Edeka</option>
    </select>
  </label>
</form>
<button>
    Einkauf anlegen
</button>
