<app-nav-bar></app-nav-bar>
<h2>
    Haushaltsübersicht :
</h2>
<h4>
    Liste aktiver Einkäufe :
</h4>
<a [routerLink]="['/household/', id, 'articles']">Artikel-Manangement</a>
<a [routerLink]="['/household/', id, 'settings']">Haushalt-Einstellungen</a>

<table align="center">
    <tr>
        <th>Laden</th>
        <th>Erstelldatum</th>
        <th>Einkäufer</th>
    </tr>
    <tr *ngFor="let purchase of purchases; let i=index">
        <td>{{ purchase.store }}</td>
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.purchaser}}</td>
    </tr>

</table>
<h4>
    Produkte die gebraucht werden :
</h4>
<tr>
    <th>Produktname</th>
    <th>Anzahl</th>
</tr>
<tr *ngFor="let neededItem of needed; let i=index">
    <td>{{ neededItem.name }}</td>
    <td>{{ neededItem.neededAmount }}</td>
</tr>
<form>
  <label>Laden :
    <select>
      <option *ngFor="let store of stores; let i=index">{{ store }}</option>
    </select>
  </label>
</form>
<button>
    Einkauf anlegen
</button>
