<app-nav-bar></app-nav-bar>
<h2>
    Einkauf: <!--name-->
</h2>

<table align="center">
    <tr>
        <th>Produktname</th>
        <th>Opt.Anzahl</th>
        <th>gekaufte Anzahl</th>
    </tr>
    <tr>
        <td><input type="checkbox"> Produkt 1</td>
        <td>5</td>
        <td>
            <form>
                <input type="number" >
            </form>
        </td>

    </tr>

</table>

<button class="btn btn-success" (click)='closePurchase()' name="button">Einkauf beenden</button>
