<app-nav-bar></app-nav-bar>
<h2>
    Einkauf: <!--name-->
</h2>

<table align="center">
    <tr>
        <th>Produktname</th>
        <th>Opt.Anzahl</th>
        <th>gekaufte Anzahl</th>
    </tr>
    <tr *ngFor="let article of articles; let i=index">
        <td><input type="checkbox">{{article["name"]}}</td>
        <td>{{ article.amount }}</td>
        <td>
            <form>
                <input type="number" [(ngModel)]="article.found" name="found">
            </form>
        </td>
    </tr>

</table>

<button class="btn btn-success" (click)='closePurchase()' name="button">Einkauf beenden</button>
