<app-nav-bar></app-nav-bar>
<h2>
    Einkauf: <!--name-->
</h2>

<table>
    <tr>
        <th>Produktname</th>
        <th>Opt.Anzahl</th>
        <th>gekaufte Anzahl</th>
    </tr>
    <tr>
        <td><input type="checkbox"> Produkt 1</td>
        <td>5</td>
        <td>
            <form>
                <button type="button" name="add"></button>
                <input type="number">
                <button type="button" name="sub"></button>
            </form>
        </td>

    </tr>

</table>
