<app-nav-bar></app-nav-bar>
<h2>
    Artikel Management
</h2>
<form action="">
  Artikel Suchen: <input type="text" name="name"><input type="submit" value="Suchen">
</form>
<h4>
    Liste der Artikel
</h4>
<table align="center">
    <tr>
        <th>Artikelname |</th>
        <th> Ladenname |</th>
        <th> Aktuelle Anzahl |</th>
        <th> Mindestanzahl |</th>
        <th> Maximalanzahl |</th>
        <th> Priorität</th>
    </tr>
    <tr *ngFor="let article of articles; let i=index">
        <td>{{ article.name }}</td>
        <td>{{ article.storeName }}</td>
        <td>{{ article.currentAmount }}</td>
        <td>{{ article.minAmount }}</td>
        <td>{{ article.maxAmount }}</td>
        <td>{{ article.priority }}</td>
    </tr>
    <tr>
        <td><input type='input' [(ngModel)]='newName' name="name"/></td>
        <td>
            <select #selectedStore>
              <option *ngFor="let store of stores; let i=index" [value]="i">{{ store.name }}</option>
            </select>
        </td>
        <td><input type='number' [(ngModel)]='newCurrentAmount' name="amount"/></td>
        <td><input type='number' [(ngModel)]='newMinAmount' name="minAmount"/></td>
        <td><input type='number' [(ngModel)]='newMaxAmount' name="maxAmount"/></td>
        <td>
            <select #selectedPriority>
                <option [value]="'low'">niedrig</option>
                <option [value]="'medium'" selected>normal</option>
                <option [value]="'high'">hoch</option>
            </select>
        </td>
        <td><button class="btn btn-success" (click)='addArticle(selectedPriority.value, selectedStore.value)'>Hinzufuegen</button></td>
    </tr>

</table>
