<table align="center">
    <tr>
        <th>Artikelname |</th>
        <th> Ladenname |</th>
        <th> Aktuelle Anzahl |</th>
        <th> Mindestanzahl |</th>
        <th> Maximalanzahl |</th>
        <th> Priorität</th>
    </tr>
    <tr>
        <td>{{ article.name }}</td>
        <td>{{ article.storeName }}</td>
        <td>{{ article.currentAmount }}</td>
        <td>{{ article.minAmount }}</td>
        <td>{{ article.maxAmount }}</td>
        <td>{{ article.priority }}</td>
    </tr>
</table>
