<app-nav-bar></app-nav-bar>
<p>Profileinstellungen</p>
<form name="changePassword">
    <p>Passwort ändern</p>
    <p>Neues Passwort</p>
    <input type="password" name="newPassword" [(ngModel)]='password' value=""><br>
    <p>Passwort bestätigen</p>
    <input type="password" name="passwordConfirm" [(ngModel)]='passwordConfirm' value=""><br>
    <p [innerHTML]="errorMsgPassword"></p>
    <button class='btn btn-sucess' (click)='submitPassword()'>Passwort ändern</button>
</form>

<form name="changeEMail">
    <p>E-Mail ändern</p>
    <p>Neue E-Mail</p>
    <input type="text" name="newEMail" [(ngModel)]='email' value=""><br>
    <p>EMail bestätigen</p>
    <input type="text" name="emailConfirm" [(ngModel)]='emailConfirm' value=""><br>
    <p [innerHTML]="errorMsgMail"></p>
    <button class='btn btn-sucess' (click)='submitMail()'>Email ändern</button>
</form>
