<app-nav-bar></app-nav-bar>
<p>Profileinstellungen</p>
<form name="changePassword">
    <p>Passwort ändern</p>
    <p>Neues Passwort</p>
    <input type="input" name="newPassword" value=""><br>
    <p>Passwort bestätigen</p>
    <input type="input" name="newPasswordConfirm" value=""><br>
    <button class='btn btn-sucess'>Passwort ändern</button>
</form>

<form name="changeEMail">
    <p>E-Mail ändern</p>
    <p>Neue E-Mail</p>
    <input type="text" name="newEMail" value=""><br>
    <p>EMail bestätigen</p>
    <input type="text" name="newEMailConfirm" value=""><br>
    <button class='btn btn-sucess'>Passwort ändern</button>
</form>
