<app-nav-bar></app-nav-bar>
<h2>Profileinstellungen</h2>
<form name="changePassword">
    <h4>Passwort ändern</h4>
    <p>Neues Passwort</p>
    <input type="password" name="newPassword" [(ngModel)]='password' value=""><br>
    <p>Passwort bestätigen</p>
    <input type="password" name="passwordConfirm" [(ngModel)]='passwordConfirm' value=""><br>
    <p [innerHTML]="statusMsgPassword"></p>
    <button class='btn btn-sucess' (click)='submitPassword()'>Passwort ändern</button>
</form>
<br />
<form name="changeEMail">
    <h4>E-Mail ändern</h4>
    <p>Neue E-Mail</p>
    <input type="text" name="newEMail" [(ngModel)]='email' value=""><br>
    <p>E-Mail bestätigen</p>
    <input type="text" name="emailConfirm" [(ngModel)]='emailConfirm' value=""><br>
    <p [innerHTML]="statusMsgMail"></p>
    <button class='btn btn-sucess' (click)='submitMail()'>Email ändern</button>
</form>
