<app-nav-bar></app-nav-bar>
<h1>Dashboard</h1>
<div class="temHeadLines">Aktuelle Einkäufe <button id="createPurchase"><span id="plusSign">&#43;</span></button></div>
<table class="purchaseTable" align="center">
  <tr>
    <th class="tableHeader">NamePurchase</th>
    <th class="tableHeader">Shop</th>
    <th class="tableHeader">Percent Done</th>
  </tr>
  <tr>
    <td class="tableContent">Lebensmittel</td>
    <td class="tableContent">Edeka</td>
    <td class="tableContent">25</td>
  </tr>
  <tr>
    <td class="tableContent">Hardware</td>
    <td class="tableContent">Conrad</td>
    <td class="tableContent">0</td>
  </tr>
</table>

<div class="temHeadLines">Deine Haushalte <button id="createHouseholds"><span id="plusSign">&#43;</span></button></div>
<table class="householdTables" align="center">
  <tr>
    <th class="tableHeader">Name Household</th>
    <th class="tableHeader">Open Purchases</th>
    <th class="tableHeader">Members</th>
  </tr>
  <tr>
    <td class="tableContent">HFT</td>
    <td class="tableContent">500</td>
    <td class="tableContent">4000</td>
  </tr>
  <tr>
    <td class="tableContent">WG 1</td>
    <td class="tableContent">2</td>
    <td class="tableContent">4</td>
  </tr>
</table>
