<app-nav-bar></app-nav-bar>
<h2>
    Einkauf anlegen: <!--name-->
</h2>
<br />
<form name="addPurchaseForm">
    <label>Laden :
      <select #selectedStore>
        <option *ngFor="let store of stores; let i=index" [value]="i">{{ store.name }}</option>
      </select>
    </label>
    <br />
    <label>Haushalt :
      <select #selectedHousehold>
        <option *ngFor="let household of households; let i=index" [value]="i">{{ household.name }}</option>
      </select>
    </label>
    <br />
    <button class='btn btn-success' (click)='makePurchase(selectedStore.value, selectedHousehold.value)'>Einkauf anlegen</button>
    <input class='btn btn-danger' type='reset' value='Zurücksetzen'>
    <p [innerHTML]='errorMsg'></p>
</form>
