<h1>Registrierung</h1>

<form>
    <p>Vorname:</p>
    <input type='input' name='firstname'>
    <p>Nachname:</p>
    <input type='input' name='lastname'>
    <p>E-Mail Addresse:</p>
    <input type='input' name='email'>
    <p>Passwort:</p>
    <input type='password' name='password'>
    <p>Passwort wiederholen:</p>
    <input type='password' name='password2'><br>
    <br>
    <input class='btn' type='submit' value='Registrieren'>
    <input class='btn btn-danger' type='reset' value='Zurücksetzen'>
</form>
