<h1>Registrierung</h1>

<form name="regForm">
    <p>Vorname:</p>
    <input type='input' [(ngModel)]='registration.firstName' name="userFirstname"/>
    <p>Nachname:</p>
    <input type='input' [(ngModel)]='registration.lastName' name="userLastname"/>
    <p>E-Mail Addresse:</p>
    <input type='input' [(ngModel)]='registration.email' name="userEmail"/>
    <p>Passwort:</p>
    <input type='password' [(ngModel)]='registration.password' name="userPassword"/>
    <p>Passwort wiederholen:</p>
    <input type='password' [(ngModel)]='userPassword2' name="userPassword2"/><br>
    <br>
    <div class='btn btn-success' (click)='submit("Hi")'>Registrieren</div>
    <input class='btn btn-danger' type='reset' value='Zurücksetzen'>
</form>
